
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS | To do List App.</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
	<body ng-app="joSembi" ng-controller="app">
		<h1 class="heading">Add a Task and press Enter!</h1>

		<!-- ng-keyup directive will allow as to save data on browser after pressing the carriage return.-->
		<input ng-model="task" ng-keyup="searchEnter()" type="text" class="joe">

		<!--Enable Task Visibility on Browser-->
		<div id="tasksToShow">
			<ul>
				<li ng-repeat="oneTask in tasks">
					<input type="checkbox" ng-model="oneTask.status">

		<!-- Register a double click event -->
					<span class="jose" contentEditable="false" ng-dblclick="contentEdit()" ng-model="oneTask.taskMessage" class="done-{{oneTask.status}} span1">{{ oneTask.taskMessage }}
					
					</span>
					<input hidden>
				</li>
			</ul>
			
		</div>
			
		
	</body>
</html>