
.joe{
	display: block;
	margin: auto;
	padding: 5px;
	font-size: 15px;
	width: 300px;
	border-color: red;
}

.heading{
	text-align: center;
	text-decoration-style: lucida;

}

.span1.done-true{
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}