<h1>{{ message }}</h1>

<div>
    The following will guide farmers, novice entrepreneurs and those who want to have a small business into the basics to startup a fruit farming business.
Fruits are among the constant commodities in the food market. Almost everybody eat fruits due to its nutritional value, or simply because they are delicious. Accordingly, growing fruit trees can be a good source of income for every farmer and new entrepreneurs desiring to tap the potential of the fruit growing industry. With these, the following are the basic things one needs to know when starting a fruit farming business.
</div>
<ul>
    <li>Fruit Farming Business Plan</li>
    <li>Where to Start a Fruit Farming Biz</li>
    <li>Equipment to Use</li>
    <li>Settle All Legalities</li>
    <li>Avoid debt!</li>
    <li>Be prepared for obstacles and initial loses.</li>
</ul>